<div class="container">
	<div class="col-md-2">
		<%= render 'admins/side' %>
	</div>
	<div class="col-md-8">
	<h1>ユーザー一覧</h1>
		<div class="col-lg-4">
			<section class="artist_seach">
				<%= search_form_for @search, url: admins_users_path do |f| %>
					<div class="form-group">
						<%= f.label :family_name, "ユーザー名(苗字)" %>
						<%= f.search_field :family_name_cont, class: "form-control" %>
					</div>
					<div class="actions"><%= f.submit "Search" %></div>
					<br>
				<% end %>
			</section>
		</div>
	    <table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>詳細</th>
					<th>名前（姓）</th>
					<th>名前（名）</th>
					<th>ナマエ（姓）</th>
					<th>ナマエ（名）</th>
					<th>郵便番号</th>
					<th>住所</th>
					<th>電話番号</th>
					<th>メールアドレス</th>
				</tr>
			</thead>

			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td>
							<%= user.id %>
						</td>
						<td>
							<%= link_to "詳細" , "admins_users/#{user.id}" %>
						</td>
						<td>
							<%= user.family_name %>
						</td>
						<td>
							<%= user.first_name %>
						</td>
						<td>
							<%= user.family_kana %>
						</td>
						<td>
							<%= user.first_kana %>
						</td>
						<td>
							<%= user.post_code %>
						</td>
						<td>
							<%= user.address %>
						</td>
						<td>
							<%= user.phone %>
						</td>
						<td>
							<%= user.email %>
						</td>
					</tr>
				<% end %>
			</tbody>
			<tr>
				<th></th>
				<th></th>
				<th><h3><%= link_to "戻る", admins_path(current_user) %></h3></th>
			</tr>
		</table>
	</div>
	<%= paginate @users %>
</div>