<h1>ユーザー一覧</h1>
<div class="container">
	<div class="row">
		<div class="col-lg-3"></div>
        <div class="col-lg-6">
        	<table class="table table-striped">
				<thead>
					<tr>
						<th>詳細（リンク）</th>
						<th>名前（姓）</th>
				        <th>名前（名）</th>
				        <th>ナマエ（姓）</th>
				        <th>ナマエ（名）</th>
				        <th>郵便番号</th>
				        <th>住所</th>
				        <th>電話番号</th>
				        <th>メールアドレス</th>
				    </tr>
				</thead>

				<tbody>
					<% @users.each do |user| %>
						<tr> 
							<td>
							    <p>
							    	<th><%= link_to "詳細" , "admins_users/#{user.id}" %></th>
							    </p>
							</td>
							<td>
							    <%= user.family_name %>
							</td>
							<td>
							    <%= user.first_name %>
							</td>
							<td>
							    <%= user.family_kana %>
							</td>
							<td>
							    <%= user.first_kana %>
							</td>
							<td>
							    <%= user.post_code %>
							</td>
							<td>
							    <%= user.address %>
							</td>
							<td>
							    <%= user.phone %>
							</td>
							<td>
							    <%= user.email %>
							</td>
				        </tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-lg-3"></div>
	</div>
</div>