<div class="container">
	<div class="col-md-2">
		<%= render 'admins/side' %>
	</div>
	<div class="col-md-6">
		<table class="table table-striped">
			<thead>
				<h1>ユーザー詳細</h1>
				<tr>
					<th>ID : <%= @user.id %></th>
				</tr>
				<tr>
					<th>姓 : <%= @user.family_name %></th>
					<th>名 : <%= @user.first_name %></th>
				</tr>
				<tr>
					<th>セイ : <%= @user.family_kana %></th>
					<th>メイ : <%= @user.first_kana %></th>
				</tr>
				<tr>
					<th>郵便番号 : <%= @user.post_code %></th>
				</tr>
				<tr>
					<th>住所 : <%= @user.address %></th>
				</tr>
				<tr>
					<th>電話番号 : <%= @user.phone %></th>
				</tr>
				<tr>
					<th>email : <%= @user.email %></th>
				</tr>
			</thead>
		</table>

		<%= link_to "ユーザー情報編集" , edit_admins_user_path %>
		<%= link_to "購入履歴" , user_order_path(@user.id) %>
	</div>
</div>
