<h3 class = "title">購入予定商品</h3>

<table class = "table table_bordered table">

	<thead>
    	<tr>
    		<th class = "title-1">商品名</th>
    		<th class = "title-2">画像</th>
    		<th class = "title-3">数量</th>
    		<th class = "title-4">小計</th>
    	</tr>

    </thead>

    	<% @carts.each do |cart| %>

    		<tr>
				<td><%= cart.item.item_name %></td>
				<td>画像</td>
	    		<td><%= cart.quantity %></td>
	    		<td><%= cart.item.price.to_i * cart.quantity.to_i %></td>
	    		<td></td>
			</tr>
<% end %>
</table>


<%= form_for @order_option, url: carts_confirm_path, method: :post do |f| %>
	<div class = "contents">
		<h3>送付先</h3>
		<div class = "address-content">
			<% if @to_address == "current_address" %>
				<%= @user.post_code %>
				<%= @user.address %>
				<%= @user.family_name + @user.first_name %>様
				<%= @user.family_kana + @user.first_kana %>様

			<% else %>
							<%= @address.id %>
				<%= @address.sub_post_code %>
				<%= @address.sub_address %>
				<%= @address.sub_family_name + @address.sub_first_name %>様
				<%= @address.sub_family_kana + @address.sub_first_kana %>様
			<% end %>
		</div>

		<h3 class = "payment-title">支払い方法</h3>
		<div class = "payment">
			<%= @payment %>
		</div>

    	<div class = "button">
			<%= f.submit '購入画面へ' %>
			<%= f.submit '戻る' %>
    	</div>
    </div>
<% end %>