<%= render 'admins/header' %>

<head>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Londrina+Shadow "rel="stylesheet">


</head>


<% if flash[:destroy] %>
	<div class = "shortage-item">
		<%= flash[:destroy] %>
	</div>
<% end %>

<body class="body-orderoption">

<div class="container">
<div class="row">


	<div class="col-lg-3">
			<ruby>
			<rb class="item-detail1">CD</rb>
			<rt class="item-detail2">STEELS</rt>
			</ruby>

			  <p class="tagline">
			    <span class="tagline-skill"><span class="tagline-skill_inner">STEELS_CD</span></span>
			    <span class="tagline-skill"><span class="tagline-skill_inner">PURCHASE</span></span>
			  </p>

			  <div class="side-logo"></div>
	</div>

<div class ="col-lg-9">


		<br><table class = "table table_bordered cart-table">

			<thead>
		    	<tr>
		    		<th style= "font-size: 13pt; color:white" bgcolor="#222222" colspan="4">購入予定商品</th>
		    	</tr>
		    </thead>

		    <tbody>

		    	<% @carts.each do |cart| %>

		    		<tr>
						<td><%= cart.item.item_name %></td>
						<td><%= attachment_image_tag cart.item,:image,  fallback: "Unknown.png", size: "30x30" %></td>
			    		<td><%= cart.quantity %>点</td>
			    		<td><%= cart.item.price.to_i * cart.quantity.to_i %>円（税込）</td>
					</tr>
				<% end %>

					<tr>
						<td></td>
						<td></td>
						<td>合計品数</td>
						<% sum1 =  0 %>
						<% @carts.each do |cart| %>
				    		<% sum1 += cart.quantity.to_i %>
						<% end %>
						<td><%= sum1 %>点</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td>小計（税込）</td>
						<% sum2 =  0 %>
						<% @carts.each do |cart| %>
				    		<% sum2 += cart.item.price.to_i * cart.quantity.to_i  %>
						<% end %>
						<td><%= sum2 %>円(税込）</td>
					</tr>

			</tbody>
		</table>


<%= form_for @order_option, url: order_options_path, method: :post do |f| %>
	<div class = "contents">
		<h5 style= "font-size: 15pt;">送付先 <i class="far fa-address-book"></i></h5>

		<div class = "address-content2">
			<% if @order_option.to_address == "current_address" %>
				<%= f.hidden_field :to_post_code, :value => @user.post_code %>
				　　	<p>郵便番号</p>
				<div class="section">
					<%= @user.post_code %><br>
				</div>
				<%= f.hidden_field :to_address, :value => @user.address %>
					<p>住所</p>
				<div class="section-address">
					<%= @user.address %><br>
				</div>
				<%= f.hidden_field :to_name, :value => @user.family_name + @user.first_name %>
					<p>名前</p>
				<div class="section">
					<%= @user.family_name + @user.first_name %>様<br>
				</div>
				<%= f.hidden_field :to_kana, :value => @user.family_kana + @user.first_kana %>
					<p>ナマエ</p>
				<div class="section">
					<%= @user.family_kana + @user.first_kana %>様
				</div>

			<% else %>
				<%= f.hidden_field :to_post_code, :value => @address.sub_post_code %>
					<p>郵便番号</p>
				<div class="section">
					<%= @address.sub_post_code %><br>
				</div>
				<%= f.hidden_field :to_address, :value => @address.sub_address %>
					<p>住所</p>
				<div class="section-address">
					<%= @address.sub_address %><br>
				</div>
				<%= f.hidden_field :to_name, :value => @address.sub_family_name + @address.sub_first_name %>
					<p>名前</p>
				<div class="section">
					<%= @address.sub_family_name + @address.sub_first_name %>様<br>
				</div>
				<%= f.hidden_field :to_kana, :value => @address.sub_family_kana + @address.sub_first_kana %>
					<p>ナマエ</p>
				<div class="section">
					<%= @address.sub_family_kana + @address.sub_first_kana %>様
				</div>
			<% end %>
		</div>

				<p class="payment-title-box"></p><h5 class = "payment-title" style= "font-size: 15pt;">支払い方法 <i class="fas fa-coins"></i></h5>

				<div class = "payment2">
					<%= f.hidden_field :payment, :value => @order_option.payment %>
					<%= @order_option.payment_i18n %>
				</div>

		    	<div class = "cart-button">
					<%= f.submit '購入確定',class:"btn-black btn-block" %>
					<%= link_to '戻る', carts_chose_path, class:"btn-white btn-block" %><br>
		    	</div>
			<% end %>

</div>
</div>
</div>

</body>

<%= render 'admins/fotter' %>

