<div class="container">
	<div class="row">

<table class = "table table_bordered" >
	<thead>
    	<tr>
    		<th colspan="5">購入予定商品</th>
    	</tr>
    </thead>
    <tbody>
    	<% @carts.each do |cart| %>

    		<tr>
				<td><%= cart.item.item_name %></td>
				<td>画像</td>
    			<td><%= cart.quantity %></td>
    			<td><%= cart.item.price.to_i * cart.quantity.to_i %>（税込）</td>
    			<td></td>
			</tr>
		<% end %>

			<tr>
				<td></td>
				<td></td>
				<td>合計品数</td>
				<% sum1 =  0 %>
				<% @carts.each do |cart| %>
		    		<% sum1 += cart.quantity.to_i %>
				<% end %>
				<td><%= sum1 %>点</td>
				<td></td>
			</tr>

			<tr>
				<td></td>
				<td></td>
				<td>小計（税込）</td>
				<% sum2 =  0 %>
				<% @carts.each do |cart| %>
		    		<% sum2 += cart.item.price.to_i * cart.quantity.to_i  %>
				<% end %>
				<td><%= sum2 %>円(税込）</td>
				<td></td>
			</tr>
	</tbody>
</table>





<%= form_for @order_option, url: carts_confirm_path, method: :post do |f| %>
	<div class = "contents">
		<h5>送付先</h5>
		<div class = "address-content">
			<%=f.radio_button :to_address, "current_address", :checked => true %>この住所に送信する<br><br>
					郵便番号<br>
					<div class="section">
					<%= @user.post_code %><br>
				    </div>
				    住所<br>
				    <div class="section">
					<%= @user.address %><br>
				    </div>
					名前<br>
					<div class="section">
					<%= @user.family_name + @user.first_name %>様<br>
				    </div>
					ナマエ<br>
					<div class="section">
					<%= @user.family_kana + @user.first_kana %>様<br>
					</div>
		</div>

		<% @addresses.each do |address| %>
			<div class = "address-content">
				<%=f.radio_button :to_address, address.id %>この住所に送信する<br><br>
				郵便番号<br>
				<div class="section">
				<%= address.sub_post_code %><br>
				</div>
				住所<br>
				<div class="section">
				<%= address.sub_address %><br>
				</div>
				名前<br>
				<div class="section">
				<%= address.sub_family_name + address.sub_first_name %>様<br>
			    </div>
                ナマエ<br>
                <div class="section">
				<%= address.sub_family_kana + address.sub_first_kana %>様<br>
			    </div>
			</div>
		<% end %>

		<h5 class = "payment-title">支払い方法</h5>
		<div class = "payment">

			<%= f.radio_button :payment ,0 , :checked => true %>代引き(手数料250円)<br>
			<br>
			<%= f.radio_button :payment ,1 %>振込
	    </div>
	</div>

	<div class = 'button'>
		<%= f.submit '購入確認画面へ', class:"btn btn-primary" %>
		<%= link_to '戻る', carts_path, class:"btn btn-danger" %>
	</div>

<% end %>

</div>
</div>