<div class="container">
	<div class="row">

<table class = "table table_bordered">
	<thead>
    	<tr>
    		<th>購入予定商品</th>
    	</tr>
    </thead>
    	<% @carts.each do |cart| %>

    		<tr>
				<td><%= cart.item.item_name %></td>
				<td>画像</td>
    			<td><%= cart.quantity %></td>
    			<td><%= cart.item.price.to_i * cart.quantity.to_i %>（税込）</td>
    			<td></td>
			</tr>
		<% end %>

			<tr>
				<td></td>
				<td></td>
				<td>合計品数</td>
				<% sum1 =  0 %>
				<% @carts.each do |cart| %>
		    		<% sum1 += cart.quantity.to_i %>
				<% end %>
				<td><%= sum1 %>点</td>
			</tr>

			<tr>
				<td></td>
				<td></td>
				<td>小計（税込）</td>
				<% sum2 =  0 %>
				<% @carts.each do |cart| %>
		    		<% sum2 += cart.item.price.to_i * cart.quantity.to_i  %>
				<% end %>
				<td><%= sum2 %>円(税込）</td>
			</tr>
</table>





<%= form_for @order_option, url: carts_confirm_path, method: :post do |f| %>
	<div class = "contents">
		<h3>送付先</h3>
		<div class = "address-content">
			<%=f.radio_button :to_address, "current_address" %>この住所に送信する<br>
					郵便番号<br>
					<%= @user.post_code %><br>
					<%= @user.address %><br>
					名前<br>
					<%= @user.family_name + @user.first_name %>様<br>
					ナマエ<br>
					<%= @user.family_kana + @user.first_kana %>様<br>
		</div>

		<% @addresses.each do |address| %>
			<div class = "address-content">
				<%=f.radio_button :to_address, address.id %>この住所に送信する<br>
				郵便番号<br>
				<%= address.sub_post_code %><br>
				住所<br>
				<%= address.sub_address %><br>
				名前<br>
				<%= address.sub_family_name + address.sub_first_name %>様<br>
                ナマエ<br>
				<%= address.sub_family_kana + address.sub_first_kana %>様<br>
			</div>
		<% end %>

		<h3 class = "payment-title">支払い方法</h3>
		<div class = "payment">

			<%= f.radio_button :payment ,0 %>代引き(手数料250円)<br>
			<br>
			<%= f.radio_button :payment ,1 %>振込
	    </div>
	</div>

	<div class = 'button'>
		<%= f.submit '購入確認画面へ' %>
		<%= f.submit '戻る' %>
	</div>

<% end %>

</div>
</div>