<h1>レーベル一覧</h1>


<%= form_for(@label,url: {controller: "admins_labels", action: "create"} ) do |f| %>

<h2>レーベル名</h2>
<%= f.text_field :label_name  %>

<%= f.submit 'レーベルを追加' %>

<% end %>



<%= search_form_for @search, url: admins_labels_path do |f| %>
<div class="form-group">
	<%= f.label :label_name, "Name" %>
	<%= f.search_field :label_name_cont, class: "form-control" %>
</div>
<div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>レーベル名</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% @labels.each do |f| %>
			<td>
				<%= f.label_name %>
			</td>
			<td>
				<%= link_to '編集', edit_admins_label_path(f) %>
			</td>
			<td>
				<%= link_to "削除", admins_label_path(f), method: :delete  %>
			</td>
		</tr>
		<% end %>

		<% if !@labels.any? %>

		<p>見つかりませんでした。</p>


		<% end %>
	</tbody>
</table>

<%= paginate @labels %>


<%= link_to 'TOP', admins_path %>