<%= render 'admins/header' %>

<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Londrina+Shadow "rel="stylesheet">

</head>
<div class="container">
	<div class="row">

<div class="item-serch-form">
	<%= search_form_for @search, url: items_path do |f| %>
		<div class="form-group">
			<%= f.label :item_name, "商品検索",class: "item-serch-text" %>
			<%= f.search_field :item_name_cont, class: "form-control" %>
		</div>
		<div class="actions"><%= f.submit "Search" %></div>
	<% end %>
</div>

<div class="container">

		<div class="col-md-offset-1 col-md-8">
				<% @item.each do |item| %>
					<div class="col-md-4 item-index-box">
						<%= link_to attachment_image_tag(item, :image,  fallback: "no_image.jpg", :width => "200px",:height =>"200px",class: "item-image-index"), item_path(item)  %><br>
						<p class="title-font"><%= item.item_name %>
							<i class="fa fa-heart" aria-hidden="true" style="color: black;"></i><%= item.favorites.count %></p>
						<%= item.artist.name %><br>
						<% if item.stock_count >= 1 %>
						<p>在庫○</p>
						<% else %>
						<p>在庫×</p>
						<% end %>
					</div>
				<% end %>
			    <%= paginate  @item %>
		</div>
		<div class="col-md-2 ranking-font">

			<h4>ランキング</h4>
			<% @item_favorites_ids.each_with_index do |lank, i| %>
				<% @lank = Item.find(lank) %>
					<div class="col-md-12">
						<p><%= "#{i+1}" %>位</p>
					    <%= link_to attachment_image_tag(@lank, :image,  fallback: "no_image.jpg", :width => "125px",:height =>"125px"), item_path(@lank) %><br>
						<%= @lank.item_name %><br>
						<%= @lank.artist.name %><br>
						<br>
					</div>
					<% break if i == 4 %>
			<% end %>

		</div>
		<div class="col-lg-1"></div>
	</div>
</div>


<%= render 'admins/fotter' %>

<!-- <script>
	$(function(){
		var video = $('#video').get(0);
		video.addEventListener("loadeddata", function(){
    		video.play();
  		}, false);
	});

</script>
 -->




