<h1>新製品広告</h1>
	<h1>商品一覧</h1>
	<%= form_tag(items_path,method: :get, class:"btn btn-info col-xs-10 col-xs-offset-1") do %>
	<%= text_field_tag :keyword %>
	<%= submit_tag :"検索" %>
	<% end %>
	<!-- 商品一覧 -->
	

	<div class="container">
		<!-- Login サイドバー -->
		<div class="row">
		<div class=" col-sm-2">
			<% @user = User.new %>
		<%= form_for(@user, url: user_session_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% #if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% #end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
  <% end %>
			<!-- サイドバー終わり -->
		</div>
		<!-- サイドバー -->
		<div class="col-sm-8">
		<div class="">
		<% @items.each do |item| %>
		<!-- <div class="Profileclearfix"> -->
			<div class="Profile">
				<%= attachment_image_tag @aaa ,:profile_image,  fallback: "no_image.jpg", :width => "200px",:height =>"200px" %><br>
				<%= item.item_name %>
				<table class ="Profile4">
					RANKING
					<th>ランキング</th>
					<tr>
					<th>曲名</th>
					</tr>
					<tr>
					<th>いいね</th>
					</tr>
					<tr>
					<th>アーティスト名</th>
					<td><%= item.artist.name %> </td>
					</tr>
					<tr>
					<th>💰1200</th>
					</tr>
					<tr>
					<th>在庫</th>
					</tr>
				</table>
			</div>
		<% end %>
		</div>

		</div> <!-- col-sm- 4 -->
						<!-- ランキング -->
		<div class="col-sm-2">
				<table class ="table-red">
					<tr>
						<th>RANKING</th>
					</tr>
					<tr>
						<th>ランキング</th>
					</tr>
					<tr>
					<th><%= attachment_image_tag @aaa ,:profile_image,  fallback: "71LcxZ6tyNL._SX355_.jpg", :width => "150px",:height =>"150px" %></th><br>
					</tr>
					<tr>
						<th>アーティスト名1</th>
					</tr>
					<tr>
						<th>曲名	</th>
					</tr>
					<tr>
						<th><%= attachment_image_tag @aaa ,:profile_image,  fallback: "download.jpg", :width => "150px",:height =>"150px" %></th><br></th>
					</tr>
					<tr>
						<th>アーティスト名２</th>
					</tr>
					<tr>
						<th>曲名2</th>
					</tr>
					<tr>
						<th><%= attachment_image_tag @aaa ,:profile_image,  fallback: "download.jpg", :width => "150px",:height =>"150px" %></th><br></th>
					</tr>
					<tr>
						<th>アーティスト名3</th>
					</tr>
					<tr>
						<th>曲名３</th>
					</tr>
				</table>
		<p></p>
			ランキング
			<% @allitems.each do |item| %>
			<%= item.item_name %>
			<%= item.artist.name %>
			<% end %>
		</div>	<!-- col-sm-4 -->
		</div> <!-- row -->
	</div> <!-- container -->
