
<%= render 'admins/header' %>

<div class="container">

	<div class="row">

		<%= search_form_for @search, url: items_path do |f| %>
			<div class="form-group">
				<%= f.label :item_name, "ジャンル名" %>
				<%= f.search_field :item_name_cont, class: "form-control" %>
			</div>
			<div class="actions"><%= f.submit "Search" %></div>
			<% end %>


	</div>
	<div class="row">

		<div class="col-md-offset-1 col-md-8">
				<% @item.each do |item| %>
					<div class="col-md-4">
						<%= attachment_image_tag item, :image,  fallback: "no_image.jpg", :width => "200px",:height =>"200px" %><br>
						<%= item.item_name %><br>
				        いいね<%= item.favorites.count %><br>
						<%= item.artist.name %><br>
					</div>
				<% end %>
			    <%= paginate @item %>
		</div>
		<div class="col-md-2">

			<h3>ランキング</h3>
			<% @item_side.each_with_index do |item, i| %>
					<div class="col-md-12">
						<p><%= "#{i+1}" %>位</p>
					    <%= attachment_image_tag item, :image,  fallback: "no_image.jpg", :width => "75px",:height =>"75px" %><br>
						<%= item.item_name %><br>
						<%= item.artist.name %><br>
						<br>
					</div>
			<% end %>

		</div>
		<div class="col-lg-1"></div>
	</div>

</div>

<%= render 'admins/fotter' %>






