<%= render 'admins/header' %>

<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<div class="container">
<div class="row">

		<div class="col-lg-3">
			<h1>STEELS CD</h1>
			  <p class="tagline">
			    <span class="tagline-skill"><span class="tagline-skill_inner">STEELS_CD</span></span>
			    <span class="tagline-skill"><span class="tagline-skill_inner">PRODUCT DETAIL</span></span>
			  </p>

			  <div class="steels-logo">logo</div>

		</div>

		<div class="col-lg-9">


			<div class="first-container-item">
				<%= attachment_image_tag @item, :image, fallback: "Unknown.png", size: "300x300" %>
			</div>


			<div class="first-container-item">
				<h1><%= @item.item_name %></h1>
				<h3 class="name-box"><%= @item.artist.name %></h3>
				
			<% if user_signed_in? %>

				<% if @item.favorited_by?(current_user) %>

				    <%= link_to "/items/#{@item.id}/favorites", method: :delete do %>
				      <i class="fa fa-heart" aria-hidden="true" style="color: black;"></i>
				      <%= @item.favorites.count %>いいね
				    <% end %>

				<% else %>

				    <%= link_to "/items/#{@item.id}/favorites", method: :post do %>
				      <i class="fas fa-heart" aria-hidden="true"></i>
				      <%= @item.favorites.count %>いいね
				    <% end %>

				<% end %>
				
			<% else %>
				<%= @item.favorites.count %> いいね
			<% end %>


				<h3>価格：<%= @item.price %>円(税込み)</h3>
				<h3>配送料：全国一律500円</h3>


				<%= form_with model: Cart.new, local: true do |f| %>
					<%= f.hidden_field :item_id, :value => @item.id %>

					<% if @item.stock_count >= 1 %>

						<%= f.submit "カートの追加", class: "btn-black btn-block" %>
					<% else %>

						<h4>※この商品は売り切れました</h4>
					<% end %>

				<% end %>
		    </div>

			<div class="info-container-item">
					<table class="table">
					<caption align="top">商品情報</caption>

						<tr>
							<td>アーティスト</td>
							<td><%= @item.artist.name %></td>
							<td>ジャンル</td>
							<td><%= @item.genre.genre_name %></td>
							<td>レーベル</td>
							<td><%= @item.label.label_name %></td>
						</tr>
					</table>

			</div>

			<p class="info-song-title">曲名一覧</p>
			<div class="song-information">


						<% @songs.each do |f| %>
						<p style="display:inline;"><%= f.track_number %> .  <%= f.song_name %> ,   </p>
						<% end %>
			</div>


			<% if user_signed_in? %>
			<% session[:review] = @item.id %>
			<br><%= link_to "レビューを書く", new_review_path, class: "btn-black" %>
			<br><br>
			<% end %>
			


			<table class="table">
			<caption align="top">レビュー一覧</caption>

				<% @reviews.each do |f| %>
				<tr>
					<td><%= f.user_id %></td>
					<td><%= f.review_text %></td>
					<% if user_signed_in? %>
						<% if f.user_id == current_user.id %>
							<td class="list-edit">
								<%= link_to edit_review_path(f.id) do %>
									<button type="button" class="btn-black btn-xs">編集</button>
								<% end %>
							</td>
							<td class="list-destroy">
								<%= link_to review_path(f), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
									<button type="button" class="btn-white btn-xs">削除</button>
								<% end %>
							</td>
						<% end %>
					<% end %>
				</tr>
				<% end %>
			</table>

		</div>


</div>
</div>

<%= render 'admins/fotter' %>

