<h1>受注一覧</h1>

<%= link_to "戻る", admins_path(current_user) %>
<table class="table table-striped">
				<tr>
					<th class="list-title">受注番号</th>
					<th class="list-title">ユーザー名</th>
					<th class="list-title">受注日</th>
					<th class="list-title">配送状況</th>
				</tr>
				<% @order_options.each do |f| %>
					<tr>
						<th class="order-list">
							<%= f.id %>
						</th>
						<th class="order-list">
							<%= link_to  admins_order_path(f) do %>
								<%= f.user_id %>
							<% end %>
						</th>
						<th class="order-list">
							
						</th>
						<th class="order-list">
							<%= f.delivery_status %>
						</th>
					</tr>
				<% end %>
			</table>
