<h1>ジャンル一覧</h1>

<%= form_for @genre, url: admins_genres_path, method: :post do |f| %>

<%= f.text_field :genre_name %>

<%= f.submit '決定'  %>

<% end %>

<%= search_form_for @search, url: admins_genres_path do |f| %>
<div class="form-group">
	<%= f.label :genre_name, "Name" %>
	<%= f.search_field :genre_name_cont, class: "form-control" %>
</div>
<div class="actions"><%= f.submit "Search" %></div>
<% end %>



<table class="table table-striped">
	<thead>
		<tr>
			<th>ジャンル一覧</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% @genres.each do |f| %>
			<td>
				<%= f.genre_name %>
			</td>
			<td>
				<%= link_to '編集', edit_admins_genre_path(f)  %>
			</td>
			<td>
				<%= link_to "削除", admins_genre_path(f), method: :delete  %>
			</td>
		</tr>
		<% end %>
	　　　

	　　<% if !@genres.any? %>

		<p>見つかりませんでした。</p>


		<% end %>
	</tbody>
</table>

<%= paginate @genres %>


<%= link_to 'TOP', admins_path %>