<%= render 'admins/header' %>
<h1>新規コメント</h1>

<%= form_for(@review, url: {controller: "reviews", action: "create"}) do |f| %>
	<div class="form-group">
		<%= f.label "コメント" %>
		<br>
		<%= f.text_field :review_text %>
	</div>
	<div class="form-group">
		<%= f.submit "完了" %>
	</div>
<% end %>
<%= render 'admins/fotter' %>