<div class="container">
	<div class="col-md-2">
		<%= render 'admins/side' %>
	</div>
	<div class="col-md-8">
		<h1>入荷情報入力(既存商品)</h1>

		<%= form_for(@stock, url: {controller: "admins_stocks", action: "create"}) do |f| %>
			<div class="form-group">
				<%= f.label "入荷日" %>
				<br>
				<%= f.date_field :stock_date, value: Date.current %>
			</div>
			<div class="form-group">
				<%= f.label "卸値" %>
				<br>
				<%= f.number_field :trade_price %>
			</div>
			<div class="form-group">
				<%= f.label "入荷数" %>
				<br>
				<%= f.number_field :stock_count %>
			</div>
			<div class="form-group">
				<%= f.label "入荷元" %>
				<br>
				<%= f.text_field :trader %>
			</div>
			<div class="form-group">
				<%= f.submit "完了" %>
			</div>
		<% end %>
		<%= link_to "戻る", admins_items_path %>
	</div>
</div>