
<div class="body-sign">
  <div class="up-box">
    <a href=<%= items_path %>><div class="logo-up"></div></a>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="family_name_field">
        <div class="field">
          <%= f.label :family_name, "姓" %><br />
          <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name",class: "family_name_up_field"  %>
        </div>
      </div>
      <div class="first_name_field">
        <div class="field">
          <%= f.label :first_name, "名" %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",class: "first_name_up_field"  %>
        </div>
      </div>
      <div class="family_kana_field">
        <div class="field">
          <%= f.label :family_kana, "せい" %><br />
          <%= f.text_field :family_kana, autofocus: true, autocomplete: "family_kana",class: "family_kana_up_field"  %>
        </div>
      </div>
      <div class="first_kana_field">
        <div class="field">
          <%= f.label :first_kana, "めい" %><br />
          <%= f.text_field :first_kana, autofocus: true, autocomplete: "first_kana",class: "first_kana_up_field"  %>
        </div>
      </div>
      


      <div class="post_code_field">
        <div class="field">
          <%= f.label :post_code, "郵便番号" %><br />
          <%= f.number_field :post_code, autofocus: true, autocomplete: "post_code",class: "post_code_up_field"  %>
        </div>
      </div>

      <div class="address_field">
        <div class="field">
          <%= f.label :adress, "住所" %><br />
          <%= f.text_field :address, autofocus: true, autocomplete: "address",class: "address_up_field"  %>
        </div>
      </div>

      <div class="phone_field">
        <div class="field">
          <%= f.label :phone, "電話番号" %><br />
          <%= f.number_field :phone, autofocus: true, autocomplete: "phone",class: "phone_up_field"  %>
        </div>
      </div>
      <div class="email_up_field">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "email_sign_up_field"  %>
        </div>
      </div>

      <div class="password_up_field">
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class: "new_password_sign_up_field"  %>
        </div>
      </div>

      <div class="password_c_up_field">
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "password_c_sign_up_field" %>
        </div>
      </div>

      <div>
        <div class="actions_up">
          <%= f.submit "Sign up",class: "btn-orig-up"  %>
        </div>
      </div>
    <% end %>
    <p class="link-up-field-text">
        IDをお持ちですか？</p>  <%= link_to 'Sign in',new_user_session_path,class: "link-up-field"  %>

 </div>
</div>
</marquee>